@font-face {
  font-family: 'LoraFont';
  src: url('../fonts/Lora-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'LoraFont', sans-serif;
  background-color: #f4f7fa;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 8px;
}

/* Hide inactive screens */
.screen {
  display: none;
}

.screen.active {
  display: block;
}

/* Tabs */

#tab-header {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.tab {
  flex: 1;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 8px;
}

.tabButton {
  background-color: white;
  border: 1px solid #007acc;
  color: #007acc;
  width: 100%;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tabButton:hover {
  border-color: rgb(58, 110, 165);
  box-shadow:
    1px 1px 15px rgba(71, 154, 243, 0.6),
    0 0 10px rgba(58, 110, 165, 0.4);
}

.tabButton.active {
  font-weight: bold;
  box-shadow: none;
  background-color: #007acc;
  color: white;
}
/* footer */

.footer {
  padding: 8px 0;
  margin-bottom: 8px;
}

/* Whitelist Screen */
.whitelist-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 8px 0;
  margin-top: 8px;
}

/* Manual Input Field */
.manual-input-container {
  position: relative;
  display: none;
  align-items: center;
  margin-top: 8px;
}

#manual-input {
  padding: 8px 50px 8px 8px;
  width: 200px;
  border-radius: 4px;
}

.input-button {
  position: absolute;
  right: 30px; /* Position relative to the input's right edge */
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6c757d;
}

.input-button svg {
  width: 16px;
  height: 16px;
}

.clear-button {
  right: 5px; /* Clear button closer to input right edge */
}

.submit-button {
  right: 30px; /* Submit button a bit further from the clear button */
}

.input-button:hover {
  color: #007bff; /* Change color on hover */
}

/* Whitelist List */
#whitelist-list {
  margin-top: 15px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  max-height: 150px;
  overflow-y: auto;
  background-color: #fff;
}

.whitelist-add-btn {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 6px 12px;
  transition: background-color 0.3s;
  background-color: #007bff;
  color: white;
  margin-right: 10px;
}

#add-current-tab:hover,
#add-manually:hover {
  background-color: #0056b3;
}

.whitelist-item:last-child {
  border-bottom: none;
  margin-bottom: 8px;
}

.whitelist-block p {
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: #000;
  margin-top: 8px;
}
/* Style for Edit and Remove buttons */
.whitelist-edit,
.whitelist-remove {
  background: none;
  border: none;
  padding: 6px 8px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  border-radius: 6px;
  transition: color 0.3s;
}

.whitelist-edit svg,
.whitelist-remove svg {
  width: 12px;
  height: 12px;
}

.whitelist-edit {
  background-color: #4cd964;
  margin-right: 4px;
}

.whitelist-edit:hover {
  background-color: #44bd59;
}

.whitelist-remove {
  background-color: #fb4c2c;
}

.whitelist-remove:hover {
  background-color: #e24428;
}

/* Specific styles for the whitelist item layout */
.whitelist-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f8f9fa;
  padding: 8px;
  border-radius: 5px;
  margin-top: 8px;
  border: 1px solid #dee2e6;
}

.whitelist-number {
  font-weight: bold;
  color: #495057;
  margin-right: 8px;
}

.whitelist-domain {
  flex-grow: 1;
  color: #343a40;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.container {
  background-color: #f4f7fa; /* Light gray background */
  /* background-color: #cddf90; Light gray background */
  background-image: radial-gradient(
    circle at 10% 10%,
    #f4f7fa 90%,
    rgb(194, 194, 194) 90%
  );
  background-size: 20px 20px; /* Adjust size to control the spacing */
  padding: 0 16px;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(31, 46, 53, 0.1);
  text-align: center;
  min-width: 300px;
  /* min-height: 400px; */
}

/* header */

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  position: relative;
}

.info-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-wrapper img {
  width: 32px;
  height: 32px;
}

.info-icon img {
  width: 22px;
  height: 22px;
}

.info-icon:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
.info-icon:hover {
  cursor: pointer;
}

h2 {
  color: #1f2e35;
  font-size: 24px;
}

.tooltip {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #cee6f2;
  color: #002c54;
  padding: 8px;
  border-radius: 4px;
  width: 280px;
  transition:
    opacity 0.2s ease,
    visibility 0.2s ease;
  z-index: 10;
  font-size: 14px;
  text-align: justify;
}

.tooltip span {
  font-weight: bold;
  display: block;
  text-align: center;
}

.toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 8px 0;
  border-top: 1px solid #1f2e35;
  border-bottom: 1px solid #1f2e35;
}

.toggle-label {
  margin-right: 8px;
  font-size: 14px;
  font-weight: bold;
  color: #1f2e35;
}

/* iPhone toggle switch */
.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 28px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #3a6ea5;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

.image-set-options {
  display: flex;
  align-items: center;
  justify-content: center;
  row-gap: 25px;
  column-gap: 40px;
  flex-wrap: wrap;
  margin-top: 12px;
}

.image-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.image-option input[type='radio'] {
  display: none;
}

.image-option img {
  width: 100px;
  height: 100px;
  height: auto;
  border: 2px solid transparent;
  border-radius: 5px;
}

.image-option input[type='radio']:checked + img {
  border-color: rgb(58, 110, 165);
  box-shadow:
    1px 1px 15px rgba(71, 154, 243, 0.6),
    0 0 10px rgba(58, 110, 165, 0.4);
  border-radius: 8px;
  transform: scale(1.05); /* Slightly enlarge the selected image */
  transition: all 0.3s ease-in-out; /* Smooth transition for all effects */
}

.image-option img:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2); /* Subtle shadow on hover */
  transform: scale(1.02); /* Slight scaling on hover */
  cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
  transition: all 0.2s ease-in-out; /* Smooth hover transition */
}

.image-option input[type='radio']:checked + img::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid rgba(71, 154, 243, 0.6); /* Glow or outline */
  border-radius: 10px;
  pointer-events: none; /* Ensures no interference with clickability */
}

.image-option input[type='radio']:checked + img {
  background-color: rgba(253, 190, 1, 0.3); /* Subtle background color */
}

.image-option span {
  font-size: 10px;
  font-weight: bold;
  color: #1f2e35;
  text-align: center;
  box-shadow:
    1px 1px 15px rgba(154, 197, 243, 0.6),
    0 0 10px #55708d42;
  background-color: #f3fafce5;
  border-radius: 4px;
  padding: 6px 4px;
  margin-top: 6px;
}

.set-title {
  margin-top: 8px;
  font-size: 16px;
  font-weight: bold;
  color: #1f2e35;
}

.set-container {
  margin-top: 8px;
  /* border-top: 1px solid #3a6ea5; */
  padding-top: 8px;
}

.donation-block {
  margin-top: 8px;
  border-top: 1px solid #3a6ea5;
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.donation-notice {
  font-size: 10px;
  color: #1f2e35;
}

.donation-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4px;
  gap: 4px;
}

.donation-title {
  margin: 0;
  font-size: 12px;
  color: #1f2e35;
}
